/* header */
.header_area {
    display: flex;
    position: fixed;    
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 120px;
    color: #fff;
    margin-top: 40px;
    background: transparent;
    
    z-index: 9999;
}

.header_area .rs_btn {
    width: 180px;
    height: 45px;
    background: #A6A6A6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.rs_btn:hover {
    color: #222;
}

.top_menu {
    display: flex;
    position: absolute;
    top: 16px;
    right: 105px;
    color: #fff;
    font-size: 12px;
}

.top_menu li a {
    margin-right: 16px;
}

/* ---------------------------------------- */

/* submenu */
#menu {
    font: bold 16px "malgun gothic";
    height: 50px;
    color: #222;
    position: relative;
    width: 100%;
}

#menu>ul {
    display: flex;
}

#menu>ul>li {
    /* width: 140px; */
    /* margin-right: 32px; */
    position: static;
    color: #fff;
    margin-top: 10px;
    margin-right: 32px;
}
#menu>ul>li:nth-of-type(5){
    margin-right: 0;
}

#menu>ul>li>ul {
    /* width: 100vw; */
    /* background: #fff; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
    /* justify-content: center; */
    padding: 20px 0;
}

#menu>ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
}

#menu>ul>li>ul>li {
    color: #222;
    margin-bottom: 16px;
}
#menu>ul>li>ul{
    display: flex;
    flex-direction: column;
}
.cg_color:hover {
    color: #222;
}
.cg_color{
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
}
/* ---------------------------------------- */

/* banner */
.main_banner {
    background: url(./이미지/img_main_slide_20240612_2_pc.jpg) no-repeat center / cover;
    width: 100%;
    height: 100vh;
}

.banner_text {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

.banner_text h1 {
    font-size: 100px;
    opacity: 0.8;
    font-family: "Bellefair", serif;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner_text h2 {
    font-size: 28px;
    opacity: 0.8;
    border-bottom: 3px solid #D9D9D9;
    padding-bottom: 4px;
    width: 100%;
    display: inline;
}

.banner_button {
    display: flex;
    background: #F8F5E9;
    width: 50%;
    height: 130px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.banner_button .toptxt {
    margin-bottom: 16px;
    font-family: "Bellefair", serif;
}

.reservation .bottxt {
    font-family: "Bellefair", serif;
}

.banner_button {
    display: flex;
    justify-content: space-between;
    /* 버튼 사이에 공간을 균등하게 배치 */
    padding: 0;
    margin: 0;
    list-style: none;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    /* ::after의 위치를 위한 상대적 위치 설정 */
}

.button::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    right: 0px;
    height: 60px;
    background: #6C6767;
    z-index: 1;
    /* 버튼 위에 구분선을 위치시키기 위해 */
}

.button.search::after,
.button.person::after{
    display: none;
}

.button.reservation,
.button.search {
    width: 20%;
}

.button.search {
    background: #FAFFF9;
}

.button.check {
    width: 30%;
}

.button.room,
.button.person {
    width: 15%;
}

/* ---------------------------------------- */

/* facility */

#facility {
    padding: 80px 260px 0;
}

.text_wrap {
    text-align: center;
}

.maintext {
    font-size: 36px;
    font-family: "Bellefair", serif;
    font-weight: 400;
}

.subtext {
    font-size: 18px;
    color: #727272;
    padding-top: 10px;
    font-weight: 400;
}

.facility_img_boxes {
    margin-top: 70px;
    position: relative;
    /* padding-bottom: 80px; */
}

.facility_img_boxes span {
    width: 100%;
    background: #C5AF8F;
    height: 75px;
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    
}
.facility_img_box{
    height: 600px;

}
/* swiper */

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    background: #fff;
    box-shadow: 0 0 5px #222;
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
    top: 100% !important;
    transform: translateY(-50%);
}

.swiper-button-prev {
    left: 270px !important;
}

.swiper-button-next {
    right: 270px !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    width: 10px !important;
    height: 10px !important;
}

.swiper-pagination-fraction {
    bottom: 55px !important;
}

/* ---------------------------------------- */

/* rooms */
#rooms {
    background: #E5DACA;
    padding-bottom: 80px;
}

.rooms.text_wrap {
    padding-top: 80px;
    margin-bottom: 80px;
}

.rooms_container {
    display: flex;
    align-items: center;
}

.rooms_content {
    max-width: 1000px;
}

.rooms .maintext,
.rooms .subtext,
.right_text {
    color: #fff;
}

.right_text {
    margin-left: 140px;
}

.right_text h1 {
    font-family: "Bellefair", serif;
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 8px;
}

.right_text h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 36px;
}

.right_text span {
    color: #999999;
    display: inline-flex;
    /* padding-right: 24px; */
    margin-right: 32px;
    /* 각 스팬 사이에 24px 여백 */
    position: relative;
    margin-bottom: 16px;
}

.right_text span::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #999999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 150%;
}

.right_text span:last-of-type::after {
    display: none;
    /* 마지막 스팬의 가상 요소 제거 */
}

.right_text a {
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    transition: 0.3s;
}
.right_text a:hover{
    background: #fff;
    border-color: #222;
    color: #222;
}

#rooms .swiper-button-prev {
    left: 930px !important;
}

#rooms .swiper-button-next {
    right: 0 !important;
}

.swiper-pagination {
    position: static !important;
    color: #fff !important;
}

/* ---------------------------------------- */

/* package */
.package {
    padding: 80px 120px;
}

.packages_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.packages_wrap .package_box {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.packages_wrap .package_box:last-child {
    margin-right: 0;
}

.packages_wrap .package_img {
    height: 300px;
}

.package_text_box{
        flex-grow: 1;
            display: flex;
                flex-direction: column;
                justify-content: space-between;
}

.package_text_box a {
    margin-top: 24px;
    width: 120px;
    height: 30px;
    border: #222;
    display: block;
}

.package_text_box h1 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
}

.package_text_box h2 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 36px;
        flex-grow: 1;
}

.package_text_box .detail {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #acacac;
}

.package_text_box .detail:nth-of-type(2) {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
}
.package_text_box span{
    font-weight: 600;
}
.price{
    display: flex;
    align-items: center;
}
.currency{
    margin-right: 4px;
    font-size: 12px;
}
/* ---------------------------------------- */

/* about */
#about{
    padding: 0 260px;
}
.about_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.about_wrap{
    padding-top: 52px;
}
.about_img img {
    width: 700px;
    height: 400px;
}
.about_text_box{
    margin-left: 160px;
}
.about_text_box h1{
    font-size: 30px;
    font-family: "Bellefair", serif;
    font-weight: 400;
    margin-bottom: 12px;
}

.about_text_box h2{
    font-size: 24px;
    font-family: "Bellefair", serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.about_text_box p{
    font-size: 16px;
    font-weight: 300;
}
/* ---------------------------------------- */

/* Footer top */
.bg_area{
 background: url(./이미지/img_re_main_slide_20230711_pc.png) no-repeat center / cover;
    height: 200px;
}
.bg_area p{
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 200px;
}
/* ---------------------------------------- */

/* footer */
.f_container{
    padding: 48px 120px;
    display: flex;
    font-weight: 600;
    color: #424242;
    font-size: 14px;
    justify-content: space-between;
}
.f_container p{
    cursor: pointer;
    margin-right: 24px;
}
.footer_right .footer_items p:last-child{
    margin-right: 0;
}
.footer_left li{
    margin-bottom: 20px;
}
.footer_logo{
    width: 130px;
    height: 45px;
    margin-bottom: 58px !important;
}
.footer_items{
    display: flex;
}

.footer_sns .footer_items > div{
 margin-right: 32px;
 width: 30px;
 height: 30px;
}

.footer_sns .footer_items div:last-child{
    margin-right: 0;
}
.footer_right h2{
    margin-top: 90px;
    margin-bottom: 24px;
    /* text-align: right; */
    font-size: 14px;
}

.footer_sns{
    display: flex;
    flex-direction: column;
    align-items: end;
}
/* ---------------------------------------- */