body{
    background: #222;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

#menu{
    width: 100vw;
    background: #fff;
}

#menu > ul{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 32px;
}

#menu > ul > li > ul{
    margin-top: 32px;
    opacity: 0;
}
.cg_color{
    color: #999;
}

#menu > ul > li > ul >li{
    margin-bottom: 32px;
}